<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (submit)="login()">
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" class="form-control" placeholder="Ingresa tu correo" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña"
                [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn-login">Ingresar</button>
    </form>
</div>