<div class="background">
    <h1 class="title">{{'LOGIN.TITLE' | translate}}</h1>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form (submit)="login()">
            <div class="form-group">
                <label for="email">{{'LOGIN.PASSWORD' | translate}}</label>
                <input type="email" id="email" class="form-control" placeholder="Ingresa tu correo" [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="password">{{'LOGIN.EMAIL' | translate}}</label>
                <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña"
                    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn-login">{{'LOGIN.INSERT' | translate}}</button>
        </form>

        <p>{{'LOGIN.QUESTION' | translate}}
            <a routerLink="/register">{{'LOGIN.REGISTER' | translate}}</a>
        </p>
    </div>
</div>
<p-toast position="top-right"></p-toast>