/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "node_modules/primeicons/primeicons.css";

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Garantiza que ocupe al menos el 100% de la altura de la ventana */
}

/* Estilos generales para el menú */
.menu-bar {
    background-color: #ff6600;
    /* Color de fondo naranja */
}

.menu-bar .p-menuitem-link {
    color: white;
    /* Color de texto blanco */
}

.menu-bar .p-menuitem-link:hover {
    background-color: #ff8533;
    /* Color de fondo naranja más claro al pasar el ratón */
}

.menu-bar .p-menuitem-link:active {
    background-color: #ff4d00;
    /* Color de fondo naranja al hacer clic */
}

.menu-bar .p-submenu {
    background-color: #ff6600;
    /* Fondo naranja para el submenú */
}

.menu-bar .p-submenu .p-menuitem-link {
    color: white;
    /* Color de texto blanco en los submenús */
}

.menu-bar .p-submenu .p-menuitem-link:hover {
    background-color: #ff8533;
    /* Fondo naranja claro en submenús al pasar el ratón */
}