p-menubar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Asegura que ocupe al menos la altura total de la ventana */
}

/* La barra de menú está fija */
p-menubar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Espacio para el contenido principal */
.content {
    flex: 1;
    /* Ocupa todo el espacio disponible entre el header y el footer */
    margin-top: 60px;
    /* Compensa la altura del menú */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu-bar {
    background-color: #ff6600;
    /* Color de fondo naranja */
}

.menu-bar .p-menuitem-link {
    color: white;
    /* Color de texto blanco */
}

.menu-bar .p-menuitem-link:hover {
    background-color: #ff8533;
    /* Color de fondo naranja más claro al pasar el ratón */
}

.menu-bar .p-menuitem-link:active {
    background-color: #ff4d00;
    /* Color de fondo naranja al hacer clic */
}

.menu-bar .p-submenu {
    background-color: #ff6600;
    /* Fondo naranja para el submenú */
}

.menu-bar .p-submenu .p-menuitem-link {
    color: white;
    /* Color de texto blanco en los submenús */
}

.menu-bar .p-submenu .p-menuitem-link:hover {
    background-color: #ff8533;
    /* Fondo naranja claro en submenús al pasar el ratón */
}