.footer {
    background-color: rgba(255, 99, 71, 0.994);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(221, 76, 51, 0.994);
}

.footer-content {
    font-size: 14px;
}

.social-media {
    margin-top: 10px;
}

.social-link {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: #007bff;
}