<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025. ReformasEnTuMano. Encuentrame en redes sociales.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/sandraperezguijar/" target="_blank" class="social-link">
                <i class="pi pi-linkedin"></i>
            </a>
            <a href="https://github.com/spguijar/" target="_blank" class="social-link">
                <i class="pi pi-github"></i>
            </a>
        </div>
    </div>
</footer>