html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    /* Color de fondo para la página */
}